.profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  height: 100%;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--special);
  border-radius: 0.5rem;
}

.profileSubheader {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  color: grey;
}

.profileContent {
  height: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profileContent::-webkit-scrollbar {
  display: none;
}

.passengerTabs {
  color: grey;
}

.passengerTabs .MuiTab-wrapper {
  flex-direction: row-reverse;
}

.profilePopup {
  display: flex;
  align-items: center;
}

.myRideContainer {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.myPassengerContainer {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 5px;
}

.myPassengerContainer>button {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 0.5em;
  cursor: pointer;
}

.myPassengerContainer>button:hover {
  background-color: #4c4440;
}

.myRide {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.placeholderContent {
  padding: 1em;
  color: grey;
}
.a-home{
  text-decoration: none;
  color: white;
}
.searchBtn-1{
  /* display: flex; */
  align-items: center;
  border: none;
  background-color: #4c4440;
  border-radius: 5px;
  height: 30%;
  font-size: 1.2rem;
  padding: 1em;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  
}